# WordPress Headless CMS
NEXT_PUBLIC_WORDPRESS_URL=https://wordpress-1594089-6258358.cloudwaysapps.com
WORDPRESS_API_URL=https://wordpress-1594089-6258358.cloudwaysapps.com/wp-json/wp/v2

# ISR Revalidation (WordPress pings this when content changes)
REVALIDATION_SECRET=bXIjGAhBGpZFYW5MSPkHl1l5ebE2poom
